<!-- header.html -->
{% load staticfiles %}
<div class='well' style="text-align:center;background:#ffffff">
    <img src='{% static "images/logo.jpg" %}' height="200" width="300">
    <br/>
    <br/>
    <br/>
    <br/>
    <ul class="nav nav-tabs" style='background: #70c048 ;border-top-right-radius:10px; border-top-left-radius:10px; border-bottom-left-radius:10px; border-bottom-right-radius:10px;'>
        <li><a href="/" style="border-top-right-radius:10px; border-top-left-radius:10px; border-bottom-left-radius:10px; border-bottom-right-radius:10px;width:250px;font-size:30px;">Home</a></li>
	<li><a href="/add_order/" style="border-top-right-radius:10px; border-top-left-radius:10px; border-bottom-left-radius:10px; border-bottom-right-radius:10px;width:250px;font-size:30px;">New Order</a></li>
        <li><a href="/" style="border-top-right-radius:10px; border-top-left-radius:10px; border-bottom-left-radius:10px; border-bottom-right-radius:10px;width:250px;font-size:30px;">Upload</a></li>
        <li><a href="/" style="border-top-right-radius:10px; border-top-left-radius:10px; border-bottom-left-radius:10px; border-bottom-right-radius:10px;width:250px;font-size:30px;">TBD</a></li>
        <li><a href="/" style="border-top-right-radius:10px; border-top-left-radius:10px; border-bottom-left-radius:10px; border-bottom-right-radius:10px;width:250px;font-size:30px;">TBD</a></li>
    </ul>
</div>
