<!-- index.html -->
{% extends 'web1/base.html' %}
{% block title %}Order Manager{% endblock %}
{% block headmmessage %}
    <h3 style='font-family:楷体;'>Order List</h3>
    <script type="text/javascript"> 
    <!-- 
    function MM_jumpMenu(targ,selObj,restore){ //v3.0 
    eval(targ+".location='"+selObj.options[selObj.selectedIndex].value+"'"); 
    if (restore) selObj.selectedIndex=0; 
    } 
    //--> 
    </script>
{% endblock %}
{% block content %}
    <table class='table table-hover'>
	<th>Order Number</th><th>Customer Code</th><th>Order Date</th>
        {% for order in orders %}
	    <tr><td><a href="{% url 'web1:order_detail' order.order_number %}">{{order.order_number}}</a></td><td>{{order.customer_code}}</td><td>{{order.order_date}}</td></tr>
        {% endfor %}
    </table>
{% endblock %}
